h1 {
	text-align: center;
}

.carousel {
	width: 1000px;
	height: 600px;
	margin: 40px auto;
	position: relative;

}

.frame {
	max-height: 100%;	
	width: 100%;
	display: none;
	cursor: pointer;
	border: 2px solid white;
    border-radius: 25px;												
}

button {
	position: absolute;
	cursor: pointer;
	background: transparent;
    border: none;
    outline: none;
}

.prev-btn {
    top: 240px;
}

.next-btn {
    top: 240px;
    right: 0px;
    
}

.display-block {
	display: block;
}